<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Flight Comparison</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body class="login-bg">
    <div class="login-container">
        <h2 class="welcome-text">Welcome</h2>
        <p class="subtext">Log in to find the best flight deals</p>
        
        <input type="email" id="login-email" placeholder="Email">
        <input type="password" id="login-password" placeholder="Password">
        <button onclick="login()">Login</button>
        <p id="error-message"></p>

        <div id="g_id_onload" data-client_id="699848347465-aovk1tbfmf4ss5jm97gs6p6v4akm4qj1.apps.googleusercontent.com" data-callback="handleCredentialResponse"></div>
        <div class="g_id_signin" data-type="standard"></div>

        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a></p>
        
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
